*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
maven

# Project exclude paths
/func-plugin/internal/base/build/
/func-plugin/internal/base/build/classes/kotlin/main/
/func-plugin/internal/integration/build/
/func-plugin/internal/integration/build/classes/kotlin/main/
/func-plugin/internal/library/build/
/func-plugin/internal/library/build/classes/kotlin/main/
/func-plugin/internal/module/build/
/func-plugin/internal/module/build/classes/kotlin/main/
/func-plugin/my_build/checker/build/
/func-plugin/my_build/checker/build/classes/kotlin/main/
/func-plugin/my_build/versions/build/
/func-plugin/my_build/versions/build/classes/kotlin/main/